<div style="border:solid green 4px; padding: 20px">Hello! I can clearly see the amount of work you've already done on your project, it is the time to review the results. My critical comments are highlighted with <span style='color: red;'>red</span>,  less urgent remarks are in <span style='color: #ebd731;'>yellow</span>, recommendations and extra information - in <span style='color: green;'>green</span>.</div>

## Analyzing borrowers’ risk of defaulting

Your project is to prepare a report for a bank’s loan division. You’ll need to find out if a customer’s marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers’ credit worthiness.

Your report will be considered when building a **credit scoring** of a potential customer. A ** credit scoring ** is used to evaluate the ability of a potential borrower to repay their loan.

### Step 1. Open the data file and have a look at the general information.

In [1]:
import pandas as pd
import nltk
from nltk.stem import WordNetLemmatizer
wordnet_lemma = WordNetLemmatizer()

credit_report = pd.read_csv('/datasets/credit_scoring_eng.csv')

print(credit_report.info())

#Browse the first and last 10 rows of the data to determine what's in it
print(credit_report.head(10))
print(credit_report.tail(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None
   children  days_employed  dob_years            education  education_id  \
0         1   -8437.673028         42    bachelor's degree             0
1         1   -4024.803754         36  secondary education             1
2         0   -5623.422610         33  Secondary Education             1
3         3   -4124.747207         32  secondary education             1
4         0  340266.072047         53  secondary education             1
5         0    -926.185831         27    bachelor's degree             0
6         0   -2879.202052         43    bachelor's degree             0
7         0    -152.779569         50  SECONDARY EDUCATION             1
8         2   -6929.865299         35    BACHELOR'S DEGREE             0
9         0   -2188.756445         41  secondary education             1

       family_status  family_status_id gender income_type  debt  total_income  \
0            married                 0      F    employee     0     40620.102
1            married                 0      F    employee     0     17932.802
2            married                 0      M    employee     0     23341.752
3            married                 0      M    employee     0     42820.568
4  civil partnership                 1      F     retiree     0     25378.572
5  civil partnership                 1      M    business     0     40922.170
6            married                 0      F    business     0     38484.156
7            married                 0      M    employee     0     21731.829
8  civil partnership                 1      F    employee     0     15337.093
9            married                 0      M    employee     0     23108.150

                               purpose
0                purchase of the house
1                         car purchase
2                purchase of the house
3              supplementary education
4                    to have a wedding
5                purchase of the house
6                 housing transactions
7                            education
8                     having a wedding
9  purchase of the house for my family
       children  days_employed  dob_years            education  education_id  \
21515         1    -467.685130         28  secondary education             1
21516         0    -914.391429         42    bachelor's degree             0
21517         0    -404.679034         42    bachelor's degree             0
21518         0  373995.710838         59  SECONDARY EDUCATION             1
21519         1   -2351.431934         37      graduate degree             4
21520         1   -4529.316663         43  secondary education             1
21521         0  343937.404131         67  secondary education             1
21522         1   -2113.346888         38  secondary education             1
21523         3   -3112.481705         38  secondary education             1
21524         2   -1984.507589         40  secondary education             1

           family_status  family_status_id gender income_type  debt  \
21515            married                 0      F    employee     1
21516            married                 0      F    business     0
21517  civil partnership                 1      F    business     0
21518            married                 0      F     retiree     0
21519           divorced                 3      M    employee     0
21520  civil partnership                 1      F    business     0
21521            married                 0      F     retiree     0
21522  civil partnership                 1      M    employee     1
21523            married                 0      M    employee     1
21524            married                 0      F    employee     0

       total_income                     purpose
21515     17517.812          to become educated
21516     51649.244    purchase of my own house
21517     28489.529           buying my own car
21518     24618.344           purchase of a car
21519     18551.846  buy commercial real estate
21520     35966.698        housing transactions
21521     24959.969           purchase of a car
21522     14347.610                    property
21523     39054.888           buying my own car
21524     13127.587                to buy a car

<div style="border:solid green 4px; padding: 20px">You can print out your last output of cell like this:</div>

In [2]:
credit_report.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding
5,0,-926.185831,27,bachelor's degree,0,civil partnership,1,M,business,0,40922.170,purchase of the house
6,0,-2879.202052,43,bachelor's degree,0,married,0,F,business,0,38484.156,housing transactions
7,0,-152.779569,50,SECONDARY EDUCATION,1,married,0,M,employee,0,21731.829,education
8,2,-6929.865299,35,BACHELOR'S DEGREE,0,civil partnership,1,F,employee,0,15337.093,having a wedding
9,0,-2188.756445,41,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family

<div style="border:solid green 4px; padding: 20px">You can also do the same with "not last" lines of code, like that:</div>

In [3]:
display(credit_report.tail(10))
"This is a last line"

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
21515,1,-467.685130,28,secondary education,1,married,0,F,employee,1,17517.812,to become educated
21516,0,-914.391429,42,bachelor's degree,0,married,0,F,business,0,51649.244,purchase of my own house
21517,0,-404.679034,42,bachelor's degree,0,civil partnership,1,F,business,0,28489.529,buying my own car
21518,0,373995.710838,59,SECONDARY EDUCATION,1,married,0,F,retiree,0,24618.344,purchase of a car
21519,1,-2351.431934,37,graduate degree,4,divorced,3,M,employee,0,18551.846,buy commercial real estate
21520,1,-4529.316663,43,secondary education,1,civil partnership,1,F,business,0,35966.698,housing transactions
21521,0,343937.404131,67,secondary education,1,married,0,F,retiree,0,24959.969,purchase of a car
21522,1,-2113.346888,38,secondary education,1,civil partnership,1,M,employee,1,14347.610,property
21523,3,-3112.481705,38,secondary education,1,married,0,M,employee,1,39054.888,buying my own car
21524,2,-1984.507589,40,secondary education,1,married,0,F,employee,0,13127.587,to buy a car

'This is a last line'

### Conclusion

From a cursory glance at the data, there are negative numbers in the days_employed column, inconsistent formatting in the education column and possibly other issues that need to be dealt with.

### Step 2. Data preprocessing

### Processing missing values

In [4]:
credit_report['total_income'] = credit_report['total_income'].fillna(0)
credit_report['days_employed'] = credit_report['days_employed'].fillna(0)
#Check if the missing data has been changed successfully
print(credit_report.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None

In [5]:
credit_report['days_employed'] = credit_report['days_employed'].abs()
#Check if the negative numbers are correctly changed to positive
print(credit_report.head(10))

#check if there are misinputs from customers about their age
print(credit_report[credit_report['dob_years']==0].count().sum())

   children  days_employed  dob_years            education  education_id  \
0         1    8437.673028         42    bachelor's degree             0
1         1    4024.803754         36  secondary education             1
2         0    5623.422610         33  Secondary Education             1
3         3    4124.747207         32  secondary education             1
4         0  340266.072047         53  secondary education             1
5         0     926.185831         27    bachelor's degree             0
6         0    2879.202052         43    bachelor's degree             0
7         0     152.779569         50  SECONDARY EDUCATION             1
8         2    6929.865299         35    BACHELOR'S DEGREE             0
9         0    2188.756445         41  secondary education             1

       family_status  family_status_id gender income_type  debt  total_income  \
0            married                 0      F    employee     0     40620.102
1            married                 0      F    employee     0     17932.802
2            married                 0      M    employee     0     23341.752
3            married                 0      M    employee     0     42820.568
4  civil partnership                 1      F     retiree     0     25378.572
5  civil partnership                 1      M    business     0     40922.170
6            married                 0      F    business     0     38484.156
7            married                 0      M    employee     0     21731.829
8  civil partnership                 1      F    employee     0     15337.093
9            married                 0      M    employee     0     23108.150

                               purpose
0                purchase of the house
1                         car purchase
2                purchase of the house
3              supplementary education
4                    to have a wedding
5                purchase of the house
6                 housing transactions
7                            education
8                     having a wedding
9  purchase of the house for my family
1212

In [6]:

#change the cells with 0 as dob_year to avg_age
avg_age = credit_report['dob_years'].mean()
credit_report.loc[credit_report['dob_years'] == 0] = avg_age


#check if the changes went through
print(credit_report[credit_report['dob_years']==0].count().sum())

0

<div style="border:solid #ebd731; 4px; padding: 20px">The good practice is - when you are producing any output - finish the cell and start the new one. This way every code and the output this code generated would be situated close to each other(most likely - on the same page). It increases the readability of your notebook a lot.<br><hr><b>upd. </b>Good.</div>

### Conclusion

After determining that there was missing data in the days_employed & total_income columns, I decided to replace the missing data with 0. 
For the negative numbers in days_employed, I changed the negative numbers into positive numbers because I think it was incorrectly inputted as negative.

### Data type replacement

In [7]:
credit_report['days_employed'] = credit_report['days_employed'].astype('int')
#Check if the change has taken place
print(credit_report.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null float64
days_employed       21525 non-null int64
dob_years           21525 non-null float64
education           21525 non-null object
education_id        21525 non-null float64
family_status       21525 non-null object
family_status_id    21525 non-null float64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null float64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(6), int64(1), object(5)
memory usage: 2.0+ MB
None

### Conclusion

I changed the days_employed column into an int because it makes more sense to have it as a whole number.

### Processing duplicates

In [8]:
#Check if there are any duplicate rows
print(credit_report.duplicated().sum())


credit_report = credit_report.drop_duplicates()
#Check if the changes went through
print(credit_report.duplicated().sum())

#before the change in str 
print(credit_report['education'].value_counts())

#after the change in str
credit_report['education'] = credit_report['education'].str.lower()
print(credit_report['education'].value_counts())

154
0
secondary education    13646
bachelor's degree       4678
SECONDARY EDUCATION      770
Secondary Education      708
some college             666
BACHELOR'S DEGREE        272
Bachelor's Degree        266
primary education        250
Some College              47
SOME COLLEGE              29
PRIMARY EDUCATION         17
Primary Education         15
graduate degree            4
GRADUATE DEGREE            1
Graduate Degree            1
43.29337979094077          1
Name: education, dtype: int64
secondary education    15124
bachelor's degree       5216
some college             742
primary education        282
graduate degree            6
Name: education, dtype: int64

### Conclusion

I first checked the data if there were any rows that were the same and then deleted the duplicated rows.
I also changed the strings in education to lower case in order to have it be more precise.

### Categorizing Data

In [9]:
#Created a function to group the customers by age group
def age_group(age):
    """
    The function returns the age group according to age value, by using the following rules:
    —'children', with age value <= 18 years
    —'adult', with age value over 18 and up to 64
    —'retired' for all other cases
    """
    
    if age <= 18:
        return 'child'
    elif age <= 64:
        return 'adult'
    return 'retired'

credit_report['age_group'] = credit_report['dob_years'].apply(age_group)

In [10]:
#Created a function to group the customers by income level
def income_level(income):
    """
    The function returns the income group according to income value, by using the following rules:
    —'lower_income', with income value <= 20,000 
    —'middle_income', with income value over 20,000 and up to 80,000
    —'upper_income' for all other cases
    """
    
    if income <= 20000:
        return 'lower_income'
    elif income <= 80000:
        return 'middle_income'
    return 'upper_income'

credit_report['income_level'] = credit_report['total_income'].apply(income_level)

credit_report['purpose'] = credit_report['purpose'].astype('str')

In [11]:
#First lemmatized the different purposes of the customers in order to simplify and better categorize the data
purpose = credit_report['purpose'].unique()

#function to lemmatize the credit_report['purpose'] column
def purpose_lemma(row):
    lemmas = [wordnet_lemma.lemmatize(w, pos = 'n') for w in nltk.word_tokenize(row)]
    

    return lemmas
   
#function to simplify the credit_report['purpose'] column    
def simple_purpose(lemmas):
    if 'car' in lemmas:
        return  'car'
    elif 'wedding' in lemmas:
        return 'wedding'
    elif 'estate' in lemmas or 'property' in lemmas:
        return 'real estate'
    elif 'housing' in lemmas or 'house' in lemmas:
        return 'house'
    elif 'university' in lemmas or 'education' in lemmas or 'educated' in lemmas:
        return 'education'

            
credit_report['purpose'] = credit_report['purpose'].apply(purpose_lemma)
credit_report['purpose'] = credit_report['purpose'].apply(simple_purpose)

#Check if the changes went through       
print(credit_report['purpose'].value_counts())

real estate    6980
car            4286
education      3996
house          3787
wedding        2321
Name: purpose, dtype: int64

<div style="border:solid #ebd731; 4px; padding: 20px"><a href="https://www.python.org/dev/peps/pep-0008/">PEP 8</a> recommends you to place all your imports into your first cell, so other users would have an opportunity to check if their environment is ready to lanch your project or not by a quick glance on it.</div>

<div style="border:solid #ebd731; 4px; padding: 20px">I like your custom functions, although there seems to be way too much in that cell.</div>

### Conclusion

To better understand the data, I further categorized the customers by age group.

### Step 3. Answer these questions

- Is there a relation between having kids and repaying a loan on time?

In [12]:
#Customers who have kids and have never defaulted on a loan
print(credit_report[(credit_report['children']>0) & (credit_report['debt']==0)].count().sum())

#Customers who have kids and have defaulted on a loan
print(credit_report[(credit_report['children']>0) & (credit_report['debt']==1)].count().sum())

92554
9436

### Conclusion

By comparing the number of people who have kids and never defaulted on a loan to those who have kids and have defaulted on a loan, it seems that those who have kids are less likely to default on a loan.

- Is there a relation between marital status and repaying a loan on time?

In [13]:
married_wo_default = credit_report[(credit_report['family_status'] == 'married') & (credit_report['debt']==0)].count().sum()
married_w_default = credit_report[(credit_report['family_status'] == 'married') & (credit_report['debt']==1)].count().sum()
print('Ratio of married w/ debt to married w/o debt:', married_w_default / married_wo_default)

single_wo_default = credit_report[(credit_report['family_status'] == 'unmarried') & (credit_report['debt']==0)].count().sum()
single_w_default = credit_report[(credit_report['family_status'] == 'unmarried') & (credit_report['debt']==1)].count().sum()
print('Ratio of single w/ debt to single w/o debt:', single_w_default / single_wo_default)

divorce_wo_default = credit_report[(credit_report['family_status'] == 'divorced') & (credit_report['debt']==0)].count().sum()
divorce_w_default = credit_report[(credit_report['family_status'] == 'divorced') & (credit_report['debt']==1)].count().sum()
print('Ratio of divorced w/ debt to divorced w/o debt:', divorce_w_default / divorce_wo_default)

widow_wo_default = credit_report[(credit_report['family_status'] == 'widow / widower') & (credit_report['debt']==0)].count().sum()
widow_w_default = credit_report[(credit_report['family_status'] == 'widow / widower') & (credit_report['debt']==1)].count().sum()
print('Ratio of widowed w/ debt to widowed w/o debt:', widow_w_default / widow_wo_default)

Ratio of married w/ debt to married w/o debt: 0.08154468684025334
Ratio of single w/ debt to single w/o debt: 0.1082903609678699
Ratio of divorced w/ debt to divorced w/o debt: 0.07727272727272727
Ratio of widowed w/ debt to widowed w/o debt: 0.06950672645739911

In [14]:
martial_status = credit_report.pivot_table(index= ['family_status','debt'], values=['total_income'], aggfunc=[len,'mean'])
#View pivot table to determine ratio
print(martial_status)

#Calculate ratios
print('Ratio of married w/ debt to married w/o debt:', 927 / 11368)

print('Ratio of single w/ debt to single w/o debt:', 273 / 2521)

print('Ratio of divorced w/ debt to divorced w/o debt:', 85 / 1100)

print('Ratio of widowed w/ debt to widowed w/o debt:', 62 / 892)

                                    len          mean
                           total_income  total_income
family_status     debt
43.29337979094077 43.29338          1.0     43.293380
civil partnership 0.00000        3756.0  24133.030106
                  1.00000         386.0  22317.415098
divorced          0.00000        1100.0  24798.301114
                  1.00000          85.0  22794.716729
married           0.00000       11368.0  24453.973942
                  1.00000         927.0  23901.715900
unmarried         0.00000        2521.0  24133.147538
                  1.00000         273.0  24867.309264
widow / widower   0.00000         892.0  20744.762277
                  1.00000          62.0  21040.877500
Ratio of married w/ debt to married w/o debt: 0.08154468684025334
Ratio of single w/ debt to single w/o debt: 0.1082903609678699
Ratio of divorced w/ debt to divorced w/o debt: 0.07727272727272727
Ratio of widowed w/ debt to widowed w/o debt: 0.06950672645739911

<div style="border:solid #ebd731; 4px; padding: 20px">Result that you've got here is correct. Although it would be nice to see how you use pivot_table method to calculate those metrics within your groups.<br><hr><b>upd. </b>To calculate shares inside the pivot_table you could just make aggfunc='mean' for our binary 'debt' column.</div>

### Conclusion

From looking at the ratios of the different marital statuses and their debt history, it would seem that widowed people are most likely to pay back their debts, and then to divorced, married, and singles.

- Is there a relation between income level and repaying a loan on time?

In [15]:
lower_wo_default = credit_report[(credit_report['income_level'] == 'lower_income') & (credit_report['debt']==0)].count().sum()
lower_w_default = credit_report[(credit_report['income_level'] == 'lower_income') & (credit_report['debt']==1)].count().sum()
print('Ratio of lower income w/ debt to lower income w/o debt:', lower_w_default / lower_wo_default)

middle_wo_default = credit_report[(credit_report['income_level'] == 'middle_income') & (credit_report['debt']==0)].count().sum()
middle_w_default = credit_report[(credit_report['income_level'] == 'middle_income') & (credit_report['debt']==1)].count().sum()
print('Ratio of middle income w/ debt to middle income w/o debt:', middle_w_default / middle_wo_default)

upper_wo_default = credit_report[(credit_report['income_level'] == 'upper_income') & (credit_report['debt']==0)].count().sum()
upper_w_default = credit_report[(credit_report['income_level'] == 'upper_income') & (credit_report['debt']==1)].count().sum()
print('Ratio of upper income w/ debt to upper income w/o debt:', upper_w_default / upper_wo_default)

Ratio of lower income w/ debt to lower income w/o debt: 0.08941963770624206
Ratio of middle income w/ debt to middle income w/o debt: 0.08771603791116893
Ratio of upper income w/ debt to upper income w/o debt: 0.0673076923076923

### Conclusion

By analyzing the ratios of the different income levels and their debt repayment, those in the upper income level have a higher chance of repaying their loans, with the next being middle and then lower income level.

- How do different loan purposes affect on-time repayment of the loan?

In [16]:
wedding_wo_default = credit_report[(credit_report['purpose'] == 'wedding') & (credit_report['debt']==0)].count().sum()
wedding_w_default = credit_report[(credit_report['purpose'] == 'wedding') & (credit_report['debt']==1)].count().sum()
print('Ratio of wedding w/ debt to wedding w/o debt:', wedding_w_default / wedding_wo_default)

house_wo_default = credit_report[(credit_report['purpose'] == 'house') & (credit_report['debt']==0)].count().sum()
house_w_default = credit_report[(credit_report['purpose'] == 'house') & (credit_report['debt']==1)].count().sum()
print('Ratio of house w/ debt to house w/o debt:', house_w_default / house_wo_default)

re_wo_default = credit_report[(credit_report['purpose'] == 'real estate') & (credit_report['debt']==0)].count().sum()
re_w_default = credit_report[(credit_report['purpose'] == 'real estate') & (credit_report['debt']==1)].count().sum()
print('Ratio of real estate w/ debt to real estate w/o debt:', re_w_default / re_wo_default)

car_wo_default = credit_report[(credit_report['purpose'] == 'car') & (credit_report['debt']==0)].count().sum()
car_w_default = credit_report[(credit_report['purpose'] == 'car') & (credit_report['debt']==1)].count().sum()
print('Ratio of car w/ debt to car w/o debt:', car_w_default / car_wo_default)

edu_wo_default = credit_report[(credit_report['purpose'] == 'education') & (credit_report['debt']==0)].count().sum()
edu_w_default = credit_report[(credit_report['purpose'] == 'education') & (credit_report['debt']==1)].count().sum()
print('Ratio of education w/ debt to education w/o debt:', edu_w_default / edu_wo_default)

Ratio of wedding w/ debt to wedding w/o debt: 0.08610201216658868
Ratio of house w/ debt to house w/o debt: 0.07189357486555335
Ratio of real estate w/ debt to real estate w/o debt: 0.08133230054221534
Ratio of car w/ debt to car w/o debt: 0.1029336078229542
Ratio of education w/ debt to education w/o debt: 0.10204081632653061

### Conclusion

After comparing the different purposes and their debt history, it would appear that those with a purpose of buying a house will less likely default on their loan, with  real estate next, then wedding, then education and lastly car.

### Step 4. General conclusion

People who want to take out a loan come from all sorts of backgrounds and have different variables that need to be accounted for in order to see if they should be given another loan. After analyzing this set of data, it would seem that generally, those with children, who are widowed, in the upper income bracket, and looking to buy a house will be the most likely to pay back their loans.

<div style="border:solid green 4px; padding: 20px">Great job! Waiting for you to fix those little things I've mentioned. See you!<br><hr><b>upd. </b>Best of luck at your next assignments. Take care!</div>

### Project Readiness Checklist

Put 'x' in the completed points. Then press Shift + Enter.

- [x]  file open;
- [ ]  file examined;
- [ ]  missing values defined;
- [ ]  missing values are filled;
- [ ]  an explanation of which missing value types were detected;
- [ ]  explanation for the possible causes of missing values;
- [ ]  an explanation of how the blanks are filled;
- [ ]  replaced the real data type with an integer;
- [ ]  an explanation of which method is used to change the data type and why;
- [ ]  duplicates deleted;
- [ ]  an explanation of which method is used to find and remove duplicates;
- [ ]  description of the possible reasons for the appearance of duplicates in the data;
- [ ]  data is categorized;
- [ ]  an explanation of the principle of data categorization;
- [ ]  an answer to the question "Is there a relation between having kids and repaying a loan on time?";
- [ ]  an answer to the question " Is there a relation between marital status and repaying a loan on time?";
- [ ]   an answer to the question " Is there a relation between income level and repaying a loan on time?";
- [ ]  an answer to the question " How do different loan purposes affect on-time repayment of the loan?"
- [ ]  conclusions are present on each stage;
- [ ]  a general conclusion is made.